@{
    ViewData["Title"] = "Politica de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Quando você usa nossos serviços, está confiando a nós suas informações. Entendemos que isso é uma grande responsabilidade e trabalhamos duro para proteger essas informações e colocar você no controle.

<br />Esta Política de Privacidade destina-se a ajudar você a entender quais informações coletamos, por que as coletamos e como você pode atualizar, gerenciar, exportar e excluir essas informações.<br /></p>
